<a href="/" title="Home" rel="home" class="navbar-brand">
            <img src="/sites/default/files/DH_Window_finallogo.png" alt="Home" class="img-fluid d-inline-block align-top">
            <div class="main-title">The Digital Humanities Initiative</div>
            <div class="d-inline-block align-top site-name-slogan">A Portal to the Digital Humanities at UVA</div>
    </a>
