@use 'variables';

.button-primary {
  background-color: variables.$primary-color;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}
 
.paragraph--type--masthead-title-left-image-right, .paragraph--type--image-right-text-left{
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.paragraph--type--masthead-title-left-image-right .two-wide{
  display:flex;
  justify-content: space-between;
}

.paragraph--type--masthead-title-left-image-right .group-left{
  padding:1.75em;
}

.field--name-field-full-width-banner-text p{
  width:70%;
  margin-left: auto;
  margin-right: auto;
}

.field--name-field-h1-title{
  font-size:3rem;
  color:variables.$primary-color;
  font-family:variables.$font-primary;
  font-weight: 800;
}

.field--name-field-sub-title{
  font-size:2rem;
  font-weight:bold;
  color:variables.$secondary-color;
  font-family:variables.$font-primary;
}

.wrapper{
      max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.field--name-field-full-width-banner-text{
  background-color:variables.$primary-color;
  font-size: 1.2em;
  color:#fff;
  padding:1em 1em;
  font-family:variables.$font-primary;
      margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}


ul.sf-menu.sf-style-white a, ul.sf-menu.sf-style-white a:visited, ul.sf-menu.sf-style-white span.nolink {
    border: 0 none;
    color:variables.$primary-color;
    padding: 0.75em 1em;
    text-transform: uppercase;
}

.field--type-image img, .field--name-field-user-picture img {
    margin: 0 0 0em;
}

.paragraph--type--image-right-text-left{
  background-color:variables.$primary-color;
  color:#fff;
}

.paragraph--type--image-right-text-left .field--name-field-title{
  font-size: 2em;
  margin-bottom:.75em;
  font-family:variables.$font-headings;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  color:#fff;
}

.paragraph--type--image-left-text-right .field--name-field-title,
.paragraph--type--four-column-links .field--name-field-title-fourlink{
  color:variables.$primary-color;
  font-size: 2rem;
  margin-bottom:.75em;
  font-family:variables.$font-headings;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.5;
}

.paragraph--type--four-column-links .field--name-field-title-fourlink{
text-align: center;
}

.paragraph--type--four-column-links{
  width: 100%;
}

.paragraph--type--four-column-links .four-wide{
   display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.paragraph--type--four-column-links .four-wide .field--type-image {
        width:100%;
        height: 250px;
        vertical-align: middle;
        border: none;
        align-items: center;
        display: flex;
        justify-content: center;
}

.paragraph--type--four-column-links .four-wide .field--type-image img{
max-width:200;
        height: auto;
}


.paragraph--type--four-column-links .four-wide div.group-one,
.paragraph--type--four-column-links .four-wide div.group-four
{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.paragraph--type--four-column-links .four-wide div{
  width:90%;
}


.paragraph--type--four-column-links .four-wide img{
  width:80%;
}

.paragraph--type--four-column-links .four-wide h2{
  width:100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0em;
  margin-top:2em;
}


.paragraph--type--four-column-links .four-wide .field--type-link{

  margin-bottom: 4em;
}

.paragraph{
  margin-bottom:4em;
}

.paragraph--type--image-left-text-right .two-wide{
  display:flex;
}

.paragraph--type--image-left-text-right .two-wide{
  .group-left, .group-right{
      width:48%;
  }

}

.paragraph--type--image-right-text-left .two-wide{
  display:flex;
  justify-content: space-between;
}

.paragraph--type--image-right-text-left .two-wide, .field--name-field-full-width-banner-text{
  .group-left, .group-right{
      width:48%;
  }

}
.paragraph--type--image-right-text-left .two-wide{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


/*create home.scss*/

.node .paragraph--type--image-right-text-left .field--type-image {
        float: right;
        margin: 0 0em 0 0;

    }

  .paragraph--type--image-right-text-left .group-right{
    padding:3em;
  }



ul.sf-menu.sf-style-white li, ul.sf-menu.sf-style-white.sf-navbar {
    background: none;
 
}

.site-footer .content{
  color:#000;
}

.site-footer .content {
    color: #c0c0c0;
    color: rgba(0, 0, 000, 0.65);
    font-size: 1rem;
}

#copyrightInfo{
    color:#fff;
    flex-grow:1;
}

.copyright-footer {
    background-color: #284374;
    padding: 1em 2em 0 2em;
    margin-top: 0 !important;
}

#generalUVALinks a {
    color: white;
    text-decoration: none;
    margin-left:1em;
    &:hover {
      text-decoration: underline;
    }
}

.copyright-footer .content .field--name-body {
    display: flex;
}



#block-cacs-theme-aslogodark{
  padding-left:39%
}

#block-cacs-theme-aslogodark img{
width:400px;
height:auto;
}

.site-footer h2{
    color: #000;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: .75em;
    font-size:1.2rem;
}

.site-footer a{
  font-size:1rem;
  line-height: 1rem;;
}



.form-control {
    display: block;
    width: 100%;
    padding: .75rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid #000;
}

.form-select {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    width: 100%;
    padding: 0.75rem 2.25rem 0.75rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-size: 16px 12px;
    border: 1px solid #000;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.js-form-item{
  margin:1em;
}

.js-form-item label{
  font-size:1rem;
  font-weight:900;

}

.btn-primary{
  background-color: variables.$secondary-color;
  color:#fff;
  border:none;
}

.view-filters{
  margin-top:1em;
  margin-bottom: 3em;
}