@use 'variables';


.view-grouping-header{
  font-size:2rem;
  font-weight:bold;
  color:variables.$secondary-color;
  font-family:variables.$font-primary;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr {
  background:none;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){
  background-color: #e9f0fb;
}

.table a{
  color:variables.$tertiary-color;
  text-decoration: underline;
  font-size: 1rem;
}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: variables.$primary-color;
  color: white;
}

.view-filters {
  background-color:#e9f0fb;
  padding:1em;
  margin-bottom: 2em;
  
}

.table{
  --bs-table-bg:none;
}

.four-wide div{
  max-width:200px;
  vertical-align: middle;
}


.views-field-title, .views-field-field-course-mnemonic, .views-field-field-related-projects, 
.views-field-title, .views-field-field-tools, .views-field-field-affiliation, .views-field-field-affiliation {
    width:16.6%;
}