@use 'variables';


ul.sf-menu.sf-style-white a, ul.sf-menu.sf-style-white a:visited, ul.sf-menu.sf-style-white span.nolink {
    border: 0 none;
    color: #232D4B;
    padding: 0.75em 1em;
    text-transform: none;
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: none;
    font-style: bold;
}

.block-superfish{
    width:70%;
}


ul.sf-menu.sf-style-default{
    float: left;
    margin-bottom: 0em;
}