// Variables
$body-bg: #ffffff;
$text-color: #000000;
$primary-color: #232D4B;
$secondary-color: #dc762c;
$tertiary-color: #495E9D;
$link-color: #495E9D;
$font-primary: "ITC Franklin Gothic LT W01 BkC", Arial, sans-serif;
$font-secondary: "franklin-gothic-urw", sans-serif;
$font-condensed: "franklin-gothic-urw-cond", sans-serif;
// Font families
$font-body: "franklin-gothic-urw", sans-serif;
$font-headings: "franklin-gothic-urw", serif;
$font-headings-bodoni: "bodoni-urw", serif;