// Variables
$body-bg: #ffffff;
$text-color: #666666;
$primary-color: #232D4B;
$font-primary: "franklin-gothic-urw", sans-serif;
$font-condensed: "franklin-gothic-urw-cond", sans-serif;
// Font families
$font-body: "franklin-gothic-urw", sans-serif;
$font-headings: "bodoni-urw", serif;